In [1]:
import pandas as pd

In [27]:
import numpy as np

In [3]:
data = pd.read_csv(r'forecast_results_2025-04.csv')

In [5]:
data['Timestamp']=pd.to_datetime(data['Timestamp'])

In [8]:
data_=pd.read_excel('CS_South_Forecasting_2025_05_19.xlsx',sheet_name='Forecasting Data')

In [11]:
data_['datetime']=pd.to_datetime(data_['datetime'])

In [14]:
from datetime import time

# Filter between 08:00 and 18:00
df_filtered = data[(data['Timestamp'].dt.time >= time(9, 0)) & (data['Timestamp'].dt.time <= time(19, 30))]

In [16]:
df_filtered_ = data_[(data_['datetime'].dt.time >= time(9, 0)) & (data_['datetime'].dt.time <= time(19, 30))]

In [22]:
df_filtered_ = df_filtered_[(df_filtered_['datetime'].dt.date >= pd.to_datetime('2025-04-01 00:00:00').date()) & (df_filtered_['datetime'].dt.date <= pd.to_datetime('2025-04-29 00:00:00').date())]

In [25]:
compare=pd.merge(df_filtered,df_filtered_,left_on='Timestamp',right_on='datetime')

In [47]:
compare['Date']=compare['Timestamp'].dt.date

In [33]:
compare['mape_']=np.abs(compare['Actual_actoff']-compare['Raw_Predicted_actoff'])/(compare['Actual_actoff'])*100

In [30]:
np.abs(compare['Actual_actoff']-compare['predict']).sum()

np.float64(4724.567270755768)

In [32]:
compare['mape'].mean()

np.float64(26.491879012803523)

In [35]:
compare['mape_'].mean()

np.float64(20.860667484730705)

In [43]:
check = data[(data['Timestamp'].dt.time <= time(9, 30))]

In [62]:
pd.set_option('display.max_rows', 100)

In [53]:
weighted_mape_=compare.groupby('Date').apply(lambda g: abs(g['Actual_actoff']-g['Raw_Predicted_actoff']).sum()/(g['Actual_actoff']).sum()*100).reset_index(name='Weighted_Mape_')

/tmp/ipykernel_3998518/3073614495.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  weighted_mape_=compare.groupby('Date').apply(lambda g: abs(g['Actual_actoff']-g['Raw_Predicted_actoff']).sum()/(g['Actual_actoff']).sum()*100).reset_index(name='Weighted_Mape_')

In [55]:
weighted_mape=compare.groupby('Date').apply(lambda g: abs(g['Actual_actoff']-g['predict']).sum()/(g['Actual_actoff']).sum()*100).reset_index(name='Weighted_Mape_')

/tmp/ipykernel_3998518/3620198157.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  weighted_mape=compare.groupby('Date').apply(lambda g: abs(g['Actual_actoff']-g['predict']).sum()/(g['Actual_actoff']).sum()*100).reset_index(name='Weighted_Mape_')

In [57]:
merge_df=pd.merge(weighted_mape_,weighted_mape,on='Date')

In [58]:
merge_df.columns=['Date','mape_','mape']

In [60]:
merge_df['mape_'].mean()

np.float64(15.200275954226624)

In [61]:
merge_df['mape'].mean()

np.float64(16.920736628643844)

In [63]:
merge_df

          Date      mape_       mape
0   2025-04-01  28.068392   7.808951
1   2025-04-02  11.257173  10.901851
2   2025-04-03  19.550043  14.333674
3   2025-04-04  12.062874  11.592582
4   2025-04-07  18.631989   9.126641
5   2025-04-08  14.362798  10.838484
6   2025-04-09  12.275809  15.794501
7   2025-04-10  13.714628  12.309942
8   2025-04-11  10.303186  16.127328
9   2025-04-14  16.643970  14.392870
10  2025-04-15  12.465607  10.661184
11  2025-04-16  12.943759  15.580614
12  2025-04-17  13.974250  17.539549
13  2025-04-18  23.129608  73.060378
14  2025-04-21  22.056978  18.921813
15  2025-04-22  12.371122  20.840384
16  2025-04-23  11.562641  15.966551
17  2025-04-24  10.417960  14.822631
18  2025-04-25  14.501974  20.339918
19  2025-04-28  18.503481  11.718937
20  2025-04-29  10.407554  12.656684